<div class="home">
  <div class="form-wrapper">

    <form class="home-form" action="/home" method="post">
      <p class="home-form__error"> {{error}} </p>
      <textarea
        class="home-form__textArea"
        name="content"
        placeholder="What's in your bubble?..."
      >{{content}}</textarea>

      <button class="home-form__btn" type="submit">Share</button>
    </form>
  </div>

  {{!-- {{#each posts}}

    <h3>
      {{postedBy}}
    </h3>

    <div class="post-container">
      <p class="content">
        {{content}}
      </p>
      <span class="time">
        {{formatDate time}}
      </span>
    </div>

  {{/each}} --}}

  <section class="post-section">

    <div class="post">
      <div class="post__info">
        <div class="post__info__author">
          <img
            src="https://raw.githubusercontent.com/filippawejlid/Bubbles/develop/public/images/avatar.png"
            alt=""
          />
          <h3 class="author">Noah Lissner</h3>
        </div>
        <span class="time">2022/03/01</span>
      </div>
      <div class="post__content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id amet
          voluptatem obcaecati ipsam sequi culpa.</p>
      </div>
    </div>
    <div class="post">
      <div class="post__info">
        <div class="post__info__author">
          <img
            src="https://raw.githubusercontent.com/filippawejlid/Bubbles/develop/public/images/avatar.png"
            alt=""
          />
          <h3 class="author">Noah Lissner</h3>
        </div>
        <span class="time">2022/03/01</span>
      </div>
      <div class="post__content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id amet
          voluptatem obcaecati ipsam sequi culpa.</p>
      </div>
    </div>
  </section>
</div>