<div class="home">
  <div class="form-wrapper">

    <form class="home-form" action="/home" method="post">
      <p class="home-form__error"> {{error}} </p>
      <textarea
        class="home-form__textArea"
        name="content"
        placeholder="What's in your bubble?..."
      >{{content}}</textarea>

      <button class="home-form__btn" type="submit">Share</button>
    </form>
  </div>

  <section class="post-section">

    {{#each posts}}
      <div class="post">
        <div class="post__info">
          <div class="post__info__author">
            <img
              src="https://raw.githubusercontent.com/filippawejlid/Bubbles/develop/public/images/avatar.png"
              alt=""
            />
            <h3 class="author">{{postedBy.username}}</h3>
          </div>
          <span class="time">{{formatDate createdAt}}</span>
        </div>
        <div class="post__content">
          <p>{{content}}</p>
        </div>
      </div>

    {{/each}}
  </section>
</div>

{{!-- <input type="submit" value="Share" />
</form>

{{#each posts}}

  <h3>
    {{postedBy.username}}
  </h3>

  <img src="{{postedBy.imageUrl}}" alt="Picture of {{postedBy.username}}" />

  <div class="post-container">
    <p class="content">
      {{content}}
    </p>
    <span class="time">
      {{formatDate updatedAt}}
    </span>
    <form action="/comment" method="post">
      <input type="text" name="text" />
      <input type="submit" value="Comment" />
    </form>
  </div>

  {{#each comments}}
    <h3>
      {{postedBy.username}}
    </h3>

    <div class="post-container">
      <p class="content">
        {{content}}
      </p>
      <span class="time">
        {{formatDate time}}
      </span>
    </div>
  {{/each}}

{{/each}} --}}