<h2>Alla inlägg</h2>

<form action="/home" method="post">
  <p> {{error}} </p>
  <textarea
    name="content"
    cols="30"
    rows="10"
    placeholder="What's in your bubble?..."
  >{{content}}</textarea>

  <input type="submit" value="Share" />
</form>

{{#each posts}}

  <h3>
    {{postedBy}}
  </h3>

  <div class="post-container">
    <p class="content">
      {{content}}
    </p>
    <span class="time">
      {{formatDate time}}
    </span>
  </div>

{{/each}}