<h3>
  {{postedByUsername}}
</h3>

{{#if myPost}}
  <a href="/user/edit-post/{{myPostId}}">
    <i class="fa-solid fa-pen"></i>
  </a>
  <form action="/user/delete-post/{{myPostId}}" method="post">

    <button type="submit">
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </form>
{{/if}}

<div class="post-container">
  <p class="content">
    {{content}}
  </p>
  <span class="time">
    {{formatDate createdAt}}
  </span>
  <form method="post">
    <input type="text" name="text" placeholder="Comment..." />
    <input type="submit" value="Add comment" />
  </form>
  <p>{{error}}</p>
  <h3>Kommentarer</h3>
  {{#each comments}}
    <div class="comment-container">
      <a href="/users/{{postedBy._id}}">{{postedBy.username}}</a>
      <p>{{text}} (created: {{formatDate createdAt}})</p>
    </div>
  {{/each}}
</div>