<div class="user-profile">

  <div class="profile__info">
    <div class="round-img-container">
      <img src="{{imageUrl}}" alt="{{userName}}:s profile picture" />
    </div>
    <h2>
      {{userName}}
    </h2>
  </div>

  <div class="user-post-section">

    {{#if loggedIn}}
      {{#each userPosts}}

        <div class="user-post">
          <div class="user-post__content">
            <p>{{content}}</p>
          </div>
          <div class="user-post__info">
            <span class="time">{{formatDate createdAt}}</span>
          </div>
          <div class="single-post__thred-btn__inner">
            <a href="/home/edit-post/{{_id}}">
              <i class="fa-solid fa-pen"></i>
            </a>
            <form action="/home/delete-post/{{_id}}" method="post">

              <button type="submit">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#each userPosts}}

        <div class="user-post">
          <div class="user-post__content">
            <p>{{content}}</p>
          </div>
          <div class="user-post__info">
            <span class="time">{{formatDate createdAt}}</span>
          </div>
        </div>
      {{/each}}

    {{/if}}

  </div>

</div>

{{!-- 
{{#each userPosts}}

      <div class="user-post">
        <div class="user-post__content">
          <p>{{content}}</p>
        </div>
        <div class="user-post__info">
          <span class="time">{{formatDate createdAt}}</span>
        </div>

        {{#if loggedIn}}
          <div class="single-post__thred-btn__inner">
            <a href="/user/edit-post/{{_id}}">
              <i class="fa-solid fa-pen"></i>
            </a>
            <form action="/user/delete-post/{{_id}}" method="post">

              <button type="submit">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </div>
        {{/if}}

      </div>

    {{/each}} --}}